

@media only screen and (max-width: 575px) {
  .row .col-lg-4{
    width: 33.33333333%;




  }

  .our-service-area .container .row .col-lg-6 .service-img{

    margin-bottom: 6.5rem;

  }
  .container{
    width: 100%;

  }
.contact-area .contact-wrap{
margin-left: 0px;

}
.contact-area .contact-img{
  
}
  .our-vision-area .vision-content .vision-list ul li {
    width: 100%;
    padding-right: 0;
  }
  .about-area .about-content .about-list ul li {
    width: 100%;
    padding-right: 0;
  }

  
  .slide-1-button,.slide-2-button, .slide-3-button{
    /* 575-only */
    /* background-color: #262566;
    margin-top: 41rem;
    margin-left: 15.5rem; */
  }


   
  .popup-close-icon{
    top: -5px;
    left: 85%;
  }


}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .nav-area .others-option {
    display: block;
    position: absolute;
    right: 65px;
    top: 23px;
  }
  .nav-area .others-option .sidebar-menu i {
    font-size: 28px;
    top: -1px;
    display: block;
  }
  .nav-area .others-option .subscribe .default-btn {
    padding: 6px 10px;
    display: block;
  }
  .nav-area .others-option .option-item {
    top: -10px;
  }
  .coming-soon-area .coming-soon-content h1 {
    font-size: 55px;
  }
  .coming-soon-area .coming-soon-content #timer div {
    font-size: 45px;
  }
  .coming-soon-area .coming-soon-content #timer div::before {
    font-size: 65px;
    right: -49px;
  }
  .blog-details-area .blog-details-desc .article-content .entry-meta ul li {
    display: inline-block;
    font-size: 15px;
    margin-right: 10px;
  }
  .header-area .top-header-area {
    text-align: center;
  }
  .header-area .top-header-area .header-content-right li {
    display: inline-block;
    padding-right: 10px;
  }
  .single-blog .blog-content {
    padding: 30px;
  }
  .single-client {
    padding: 0 20px 20px 20px;
  }
  .portfolio-wraps .shorting-menu .filter {
    margin-bottom: 0;
  }
  .single-choose {
    padding: 19px;
  }
  .ml-30 {
    margin-left: 30px !important;
  }
  .single-services {
    padding: 15px;
    text-align: center;
  }
  
  .slide-1-button,.slide-2-button, .slide-3-button{
    position: absolute;
    top: -30%;
    left: 3%;
    background-color: #F0702F;
    color: white;

  }
  
   



  .popup-close-icon{
    top: -5px;
    left: 85%;
  }


}
@media only screen and (max-width: 767px) {

  .navbar-light .navbar-brand, .navbar-light .navbar-brand:hover{
    width: 30%;
  }
  .service-sidebar-area {
    padding-right: 0;
  }
  .blog-left-sidebar {
    padding-right: 0;
  }
  .blog-right-sidebar {
    padding-left: 0;
  }
  .ptb-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pt-100 {
    padding-top: 50px;
  }
  .pb-100 {
    padding-bottom: 50px;
  }
  .pt-70 {
    padding-top: 50px;
  }
  .pb-70 {
    padding-bottom: 20px;
  }
  p {
    font-size: 14px;
  }
  h3 {
    font-size: 18px;
  }
  .ml-30 {
    margin: 0;
  }
  .section-title {
    margin-bottom: 30px;
  }
  .section-title span {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .section-title h2 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .fixed-top {
    position: absolute;
  }
  .header-area .top-header-area {
    background-color: #ffffff;
  }
  .header-area .top-header-area .header-content-right {
    float: unset;
  }
  .header-area .top-header-area .header-content-right li {
    padding-right: 0;
    margin-bottom: 8px;
    display: block;
  }
  .header-area .top-header-area .header-content-right li:last-child {
    margin-bottom: 0;
  }
  .header-area .top-header-area .header-content-left p {
    font-size: 13px;
  }
  .nav-area .others-option {
    position: absolute;
    right: 35px;
    top: 23px;
  }
  .nav-area .others-option .sidebar-menu i {
    display: none;
  }
  .nav-area .others-option .subscribe .default-btn {
    display: none;
  }
  .nav-area .others-option .option-item {
    top: -3px;
  }
  .nav-area .others-option .option-item .search-btn {
    font-size: 15px;
    width: 29px;
    height: 29px;
    line-height: 29px;
  }
  .nav-area .others-option .option-item .close-btn {
    font-size: 15px;
    width: 29px;
    height: 29px;
    line-height: 29px;
  }
  .nav-area .others-option .option-item .search-overlay.search-popup {
    right: -49px;
    width: 250px;
  }
  .default-btn {
    font-size: 15px;
    padding: 14px 15px;
  }
  .default-btn.active {
    margin-left: 15px;
  }
  .main-banner-area {
    padding-top: 80px;
    padding-bottom: 70px;
    text-align: center;
  }
  .main-banner-area .container-fluid {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-banner-area .container-fluid .pr-0 {
    padding-right: 15px !important;
  }
  .main-banner-area .banner-text {
    margin: auto;
  }
  .main-banner-area .banner-text span {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  .main-banner-area .banner-text h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .main-banner-area .banner-text p {
    font-size: 15px;
    margin-bottom: 30px;
  }
  .main-banner-area .banner-img {
    margin-top: 30px;
  }



  .slide-1-button,.slide-2-button, .slide-3-button{
    position: absolute;
    top: 84%;
    left: 40%;
    background-color: #F0702F;
    color: white;
  }



  .about-area .about-content span {
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: -6px;
  }
  .about-area .about-content h2 {
    font-size: 25px;
  }
  .about-area .about-content .about-list ul li {
    font-size: 14px;
  }
  .about-area .about-content .about-list ul li i {
    font-size: 20px;
    top: -3px;
  }
  .about-area .about-img {
    margin-top: 30px;
  }
  .our-vision-area .vision-content span {
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: -6px;
  }
  .our-vision-area .vision-content h2 {
    font-size: 25px;
  }
  .our-vision-area .vision-content .vision-list ul li {
    font-size: 14px;
  }
  .our-vision-area .vision-content .vision-list ul li i {
    font-size: 20px;
    top: 3px;
  }
  .our-vision-area .about-img {
    margin-bottom: 30px;
  }
  .single-services {
    padding: 20px;
  }
  .single-services i {
    position: unset;
    margin-bottom: 20px;
    display: inline-block;
  }
  .get-quat-img {
    margin-bottom: 30px;
  }
  .get-quat-area .quat-form {
    padding: 30px 20px;
  }
  .get-quat-area .quat-form .tabs li {
    line-height: 1.5;
    font-size: 16px;
  }

  .get-quat-area .quat-form .tabs li:nth-child(2) {
    padding-left: 14px;
  }

  .get-quat-area .quat-form .tabs li a {
    padding-right: 15px;
    font-size: 18px;
  }
  .single-counter {
    border-right: none;
  }
  .single-counter h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .single-counter p {
    font-size: 15px;
  }
  .achievement-area {
    padding-bottom: 50px;
  }
  .achievement-area .achievement-content span {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .achievement-area .achievement-content h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .achievement-area .achievement-content .default-btn {
    margin-top: 15px;
  }
  .achievement-area .video-img {
    margin-bottom: 30px;
  }
  .achievement-area .video-img::before {
    display: none;
  }
  .agent-now-area .call-now {
    padding: 20px;
    padding-left: 70px;
    margin-bottom: 30px;
  }
  .agent-now-area .call-now p {
    font-size: 16px;
  }
  .agent-now-area .call-now span {
    font-size: 20px;
  }
  .agent-now-area .call-now i {
    font-size: 35px;
    top: 30px;
    left: 20px;
  }
  .agent-now-area .subscribe-wrap {
    padding: 20px;
  }
  .agent-now-area .subscribe-wrap p {
    font-size: 16px;
  }
  .agent-now-area .subscribe-wrap .newsletter-form .default-btn {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 20px;
  }
  .agent-now-area .agent-shape {
    display: none;
  }
  .business-contact-area .row {
    margin-left: 0;
    margin-right: 0;
  }
  .business-contact-area .business-content {
    padding: 20px;
  }
  .business-contact-area .business-content h3 {
    font-size: 20px;
  }
  .business-contact-area .business-content p {
    margin-left: 20px;
    bottom: 22px;
    left: 40%;
  }
  .main-banner-area-two {
    height: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
  }
  .main-banner-area-two .container-fluid {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-banner-area-two .container-fluid .pr-0 {
    padding-right: 15px !important;
  }
  .main-banner-area-two .banner-text {
    text-align: center;
    padding: 0;
  }
  .main-banner-area-two .banner-text span {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  .main-banner-area-two .banner-text h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .main-banner-area-two .banner-text p {
    font-size: 15px;
    margin-bottom: 30px;
  }
  .main-banner-area-two .banner-img {
    margin-top: 30px;
    height: 400px;
    border-radius: 0;
    background-position: center center;
  }
  .about-area .about-img-3 {
    margin-top: 20px;
    float: unset;
  }
  .about-area .about-img-3 img {
    width: 100%;
  }
  .about-area .about-img-3 .about-img-2 {
    position: absolute;
    top: unset;
    left: 0;
    bottom: 0;
  }
  .about-area .about-content .about-list .about-single-list {
    padding-left: 40px;
  }
  .about-area .about-content .about-list .about-single-list span {
    font-size: 14px;
  }
  .about-area .about-content .about-list .about-single-list i {
    font-size: 30px;
  }
  .about-single-list.list-2 {
    margin-bottom: 30px;
  }
  .service-area-two .single-service .service-content {
    padding: 15px;
    padding-top: 55px;
  }
  .testimonial-wrap-two .single-client {
    padding: 20px;
    padding-left: 20px;
    text-align: center;
  }
  .testimonial-wrap-two .single-client .client-text {
    position: unset;
  }
  .testimonial-wrap-two .single-client p {
    margin-bottom: 18px;
  }
  .any-contact-area .contact-text {
    padding: 0;
  }
  .any-contact-area .contact-call {
    padding: 0;
    margin-top: 20px;
  }
  .choose-us-area-two .single-choose span {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 30px;
  }
  .single-choose {
    padding: 20px;
  }
  .service-area-two .single-service .service-content {
    padding-top: 40px;
  }
  .service-area-two .single-service .service-content .icon-style {
    font-size: 25px;
    line-height: 50px;
    width: 50px;
    height: 50px;
  }
  .hero-slider-area .slider-item {
    height: 100%;
    padding-top: 70px;
    padding-bottom: 80px;
  }
  .hero-slider-area .slider-item .slider-text {
    margin-top: 0;
  }
  .hero-slider-area .slider-item .slider-text h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .hero-slider-area .slider-item .slider-text p {
    font-size: 15px;
    margin-bottom: 27px;
  }
  .hero-slider-area .owl-theme .owl-dots {
    bottom: 10px;
  }
  .choose-us-area-three .single-choose span {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 35px;
  }
  .get-quat-content {
    margin-bottom: 30px;
  }
  .work-area .container-fluid {
    margin-left: 0;
    margin-right: 15px;
    max-width: 540px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin: auto;
  }
  .go-top.active {
    left: 85%;
  }
  .contact-area .contact-wrap {
    padding: 20px;
  }
  .contact-area .section-title h2 {
    font-size: 25px;
  }
  .contact-area .quick-contact h3 {
    font-size: 25px;
  }
  .page-navigation-area {
    margin-top: 0;
  }
    .contact-form-action {
    padding: 20px;
  }
    .contact-form-action .form-heading .form-title {
    font-size: 25px;
  }
    .contact-form-action .form-heading .form-desc {
    font-size: 15px;
  }
    .contact-form-action .default-btn {
    display: block;
    width: 100%;
  }
    .contact-form-action .agree-label {
    text-align: center;
  }
    .contact-form-action .forget {
    float: unset;
    float: unset;
    margin-bottom: 30px;
    text-align: center;
    display: block;
  }
    .contact-form-action .now-register {
    float: unset;
    margin-top: 10px;
  }
  .coming-soon-area .coming-soon-content {
    height: 100%;
  }
  .coming-soon-area .coming-soon-content h1 {
    font-size: 40px;
    line-height: 1.1;
    margin-top: 0;
  }
  .coming-soon-area .coming-soon-content p {
    font-size: 13px;
    margin-top: 15px;
  }
  .coming-soon-area .coming-soon-content #timer {
    margin-top: 20px;
  }
  .coming-soon-area .coming-soon-content #timer div {
    font-size: 40px;
    margin-left: 8px;
    margin-right: 8px;
  }
  .coming-soon-area .coming-soon-content #timer div span {
    font-size: 14px;
    margin-top: -5px;
  }
  .coming-soon-area .coming-soon-content #timer div::before {
    display: none;
  }
  .coming-soon-area .coming-soon-content .newsletter-form {
    margin-top: 35px;
  }
  .coming-soon-area .coming-soon-content .newsletter-form .input-newsletter {
    height: 55px;
    padding-left: 13px;
    font-size: 15px;
  }
  .coming-soon-area .coming-soon-content .newsletter-form button {
    position: relative;
    height: auto;
    padding: 14px 30px;
    font-size: 14px;
    margin-top: 15px;
  }
  .error-area {
    padding: 70px 0;
  }
  .error-area .error-content-wrap p {
    margin: 15px 0 20px;
  }
  .error-area .error-content-wrap h1 {
    font-size: 100px;
  }
  .service-sidebar-area .service-faq .faq-accordion .accordion .accordion-title {
    font-size: 14px;
  }
  .service-list-img {
    margin-bottom: 30px;
  }
  .service-details-wrap .ask-question {
    padding: 15px;
  }
  .contact-area {
    margin-top: 0;
    padding-top: 50px;
  }
  .contact-area .quick-contact {
    margin-top: 50px;
  }
  .map-area #map {
    height: 300px;
  }
  .page-title-area {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .page-title-area .page-title-content h2 {
    font-size: 30px;
  }
  .page-title-area .page-title-content ul li {
    font-size: 14px;
  }
  .blog-details-area .widget-area .widget:first-child {
    margin-top: 35px;
  }
  .blog-details-area .blog-details-desc .article-content .entry-meta ul li {
    display: block;
    font-size: 15px;
    margin-right: 0;
    margin-bottom: 5px;
  }
  .blog-details-area .blog-details-desc .article-content .entry-meta ul li::before {
    display: none;
  }
  .blog-details-area .blog-details-desc .article-content h3 {
    line-height: 1.5;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 22px;
  }
  .blog-details-area .blog-details-desc .article-content p {
    font-size: 15px;
  }
  .blog-details-area .blog-details-desc .article-content .features-list li {
    font-size: 15px;
  }
  .blog-details-area .widget-area .widget {
    padding: 0;
  }
  .blog-details-area blockquote {
    padding: 30px !important;
  }
  .blog-details-area blockquote p {
    font-size: 16px !important;
  }
  .blog-details-area .blockquote {
    padding: 30px !important;
  }
  .blog-details-area .blockquote p {
    font-size: 16px !important;
  }
  .blog-details-area .comments-area {
    padding: 20px;
  }
  .blog-details-area .comments-area .comment-author {
    font-size: 15px;
    margin-bottom: 0.3em;
  }
  .blog-details-area .comments-area .comment-author .avatar {
    left: 0;
    position: relative;
    display: block;
    margin-bottom: 10px;
  }
  .blog-details-area .comments-area .comment-body {
    padding-left: 0;
  }
  .blog-details-area .comments-area .comments-title {
    font-size: 19px;
  }
  .blog-details-area .comments-area .comments-title::before {
    left: -20px;
  }
  .blog-details-area .comments-area .comment-metadata {
    font-size: 12px;
  }
  .blog-details-area .comments-area .comment-respond .comment-reply-title {
    font-size: 19px;
  }
  .blog-details-area .comments-area .comment-respond .comment-reply-title::before {
    left: -20px;
  }
  .blog-details-area .comments-area .comment-respond .comment-form-author {
    width: 100%;
    padding-right: 0;
  }
  .blog-details-area .comments-area .comment-respond .comment-form-email {
    width: 100%;
    padding-left: 0;
  }
  .blog-details-area .comments-area .comment-respond .form-submit input {
    padding: 12px 25px 10px;
  }
  .blog-details-area .widget-area .widget:first-child {
    margin-top: 35px;
  }
  .faq-area .faq-accordion {
    padding: 20px;
  }
  .faq-area .faq-accordion h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .portfolio-wraps .shorting-menu .filter {
    padding: 10px 15px;
    margin-bottom: 10px;
  }
  .service-details-wrap h2 {
    font-size: 25px;
  }
  .single-blog .blog-content {
    padding: 20px;
    max-width: unset;
    margin: 0 auto 0;
  }
  .single-blog-area {
    margin-top: 35px;
  }
  .header-area .top-header-area {
    text-align: center;
  }
  .header-area .top-header-area .header-content-right li .option-item {
    display: none;
  }
  .header-area .top-header-area .header-content-right li .option-item .search-overlay.search-popup {
    z-index: 9999;
  }
  .sidebar-modal .modal.right .modal-dialog {
    width: 300px;
  }
  .navbar-area {
    border-top: 1px solid #eee;
  }
  .navbar-area .main-nav nav .navbar-nav {
    margin-left: 0;
    margin-top: 15px;
    padding-top: 8px;
    overflow-y: auto;
    max-height: 60vh;
    padding-right: 15px;
  }
  .navbar-area .main-nav nav .navbar-nav::-webkit-scrollbar {
    width: 8px;
  }
  .navbar-area .main-nav nav .navbar-nav::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .navbar-area .main-nav nav .navbar-nav::-webkit-scrollbar-thumb {
    background: #888;
  }
  .navbar-area .main-nav nav .navbar-nav::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .navbar-area .main-nav nav .navbar-nav .nav-item {
    padding: 5px 0;
  }
  .navbar-area .main-nav nav .navbar-nav .nav-item a {
    margin: 0;
  }
  .navbar-area .main-nav nav .navbar-nav .nav-item a i {
    display: none;
  }
  .navbar-area .main-nav nav .navbar-nav .nav-item .dropdown-menu {
    position: relative;
    opacity: 1 !important;
    visibility: visible !important;
    width: 100%;
    top: 0 !important;
    margin-top: 5px;
    border: 1px dashed #5a5a5a;
  }
  .navbar-area .main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    position: relative;
    opacity: 1 !important;
    visibility: visible !important;
    width: 90%;
    top: 0 !important;
    left: 15px;
    margin-top: 10px;
    border: 1px dashed #5a5a5a;
  }
  .choose-us-area.mt-50 {
    margin-top: 50px;
  }
  .modal-video .modal-video-body {
    padding: 0 20px;
  }
  .testimonial-wrap-two.owl-theme .owl-nav .owl-prev, .testimonial-wrap-two.owl-theme .owl-nav .owl-next {
    top: 0;
  }
  .any-contact-area {
    text-align: center;
  }
  .any-contact-area .contact-text h3 {
    line-height: 1.5;
  }
  .service-area-two .section-title {
    margin-bottom: 60px;
  }
  .service-area-two.pb-35 {
    padding-bottom: 0;
  }
  .navbar-area.nav-style-two .main-nav nav .navbar-nav .nav-item a {
    color: #262566 !important;
  }
  .navbar-area.nav-style-two .main-nav nav .navbar-nav .nav-item .dropdown-menu li a {
    color: #fff !important;
  }
  .navbar-area.nav-style-two .main-nav nav .navbar-nav .nav-item .dropdown-menu li a.active {
    color: #262566 !important;
  }
  .navbar-area.nav-style-two .main-nav nav .navbar-nav .nav-item .dropdown-menu li a:hover {
    color: #262566 !important;
  }
  .navbar-area.nav-style-two.is-sticky .main-nav nav .navbar-nav .nav-item a {
    color: #ffffff !important;
  }
  .navbar-three .navbar {
    margin-top: 0 !important;
  }
  .page-navigation-area .page-link {
    width: 35px;
    height: 35px;
    line-height: 18px;
    font-size: 13px;
  }
  .blog-left-sidebar {
    margin-bottom: 30px;
  }
  .blog-right-sidebar {
    margin-top: 30px;
  }
  /* Home demo 4,5,6 */
  .header-area.header-area-five .top-header-area .header-content.phone {
    text-align: center;
  }
  .business-contact-area-five .business-contact span {
    display: none;
  }
  .main-banner-area.main-banner-area-five {
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .main-banner-area.main-banner-area-five .banner-shape-right-five {
    max-width: 150px;
    top: 0;
  }
  .main-banner-area.main-banner-area-five .banner-text {
    margin-top: 0;
  }
  .main-banner-area.main-banner-area-five .banner-img-five {
    margin-top: 30px;
  }
  .appointment-here-form {
    padding: 30px;
  }
  .appointment-here-form h2 {
    font-size: 20px;
    margin-top: 0;
  }
  .appointment-here-form p {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .appointment-here-form .default-btn {
    margin-bottom: 0;
  }
  .about-area.about-area-five .about-content {
    margin-bottom: 30px;
  }
  .find-an-agent-area .find-an-agent-bg {
    padding: 30px;
  }
  .find-an-agent-content {
    margin-bottom: 30px;
  }
  .find-an-agent-content h2 {
    font-size: 20px;
  }
  .find-an-agent-content p {
    margin-bottom: 15px;
  }
  .single-find-an-agent {
    border: 1px solid #eeeeee !important;
    padding: 20px 10px;
  }
  .single-find-an-agent a {
    font-size: 17px;
  }
  .business-contact-area-five .business-contact {
    padding: 30px;
    margin-bottom: 20px;
  }
  .business-contact-area-five .business-content-email {
    padding: 30px;
  }
  .nev-style-five .navbar-area .others-option {
    top: 3px;
  }
  .nev-style-five .navbar-area .others-option .option-item {
    top: -15px;
  }
  .nev-style-five .navbar-area .others-option .sidebar-menu {
    margin-left: 0;
  }
  .nev-style-five .navbar-area .others-option .sidebar-menu i {
    display: block;
    font-size: 40px;
  }
  .nev-style-six .navbar-area .others-option {
    top: 11px;
  }
  .header-area.header-area-six .top-header-area .header-content-right {
    float: initial;
  }
  .header-area.header-area-six .top-header-area .header-content-left {
    float: initial;
    margin-top: 15px;
  }
  .hero-slider-area-six .slider-item .slider-text h1 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .hero-slider-area-six .slider-item {
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .get-quat-list-tab {
    padding: 25px;
  }
  .get-quat-list-tab ul {
    margin-bottom: 20px;
  }
  .get-quat-list-tab li {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .get-quat-list-tab li span {
    font-size: 15px;
  }
  .about-content-six h2 {
    font-size: 25px;
  }
  .about-content-six {
    margin-bottom: 30px;
  }
  .testimonial-area-six .owl-theme .owl-nav .owl-prev, .testimonial-area-six .owl-theme .owl-nav .owl-next {
    width: 30px;
    height: 30px;
    top: auto;
    bottom: 20px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    line-height: 30px;
  }
  .testimonial-area-six .owl-theme .owl-nav .owl-prev i, .testimonial-area-six .owl-theme .owl-nav .owl-next i {
    font-size: 14px;
  }
  /* End Home demo 4,5,6 */
  /* table responsive: */
  .table-container {
    margin-left: 20px !important; /* Override the original margin */
    margin-right: 20px !important; /* Override the original margin */
  }

  /* Adjust the padding and font size for smaller screens */
  .table-container {
    padding: 5px !important; /* Override the original padding */
  }

  /* Adjust other styles for smaller screens if needed */
  .big-text {
    font-size: 18px !important; /* Override the original font size */
  }

  .small-text {
    font-size: 10px !important; /* Override the original font size */
  }

  .icon-row {
    font-size: 30px !important; /* Override the original font size */
  }

  .tick-icon,
  .cross-icon {
    font-size: 12px !important; /* Override the original font size */
  }

  .select-button {
    font-size: 14px !important;
    padding: 8px 16px !important; /* Override the original padding */
  }







  .popup-close-icon{
    top: -5px;
    left: 85%;
  }   


}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .service-sidebar-area {
    padding-right: 0;
  }
  .blog-left-sidebar {
    padding-right: 0;
  }
  .blog-right-sidebar {
    padding-left: 0;
  }
  .navbar-area .main-nav nav .navbar-nav {
    margin-left: 0;
    margin-top: 15px;
    padding-top: 8px;
    overflow-y: auto;
    max-height: 60vh;
    padding-right: 15px;
  }
  .navbar-area .main-nav nav .navbar-nav::-webkit-scrollbar {
    width: 8px;
  }
  .navbar-area .main-nav nav .navbar-nav::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .navbar-area .main-nav nav .navbar-nav::-webkit-scrollbar-thumb {
    background: #888;
  }
  .navbar-area .main-nav nav .navbar-nav::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .navbar-area .main-nav nav .navbar-nav .nav-item {
    padding: 5px 0;
  }
  .navbar-area .main-nav nav .navbar-nav .nav-item a {
    margin: 0;
  }
  .navbar-area .main-nav nav .navbar-nav .nav-item a i {
    display: none;
  }
  .navbar-area .main-nav nav .navbar-nav .nav-item .dropdown-menu {
    position: relative;
    opacity: 1 !important;
    visibility: visible !important;
    width: 100%;
    top: 0 !important;
    margin-top: 5px;
    border: 1px dashed #5a5a5a;
  }
  .navbar-area .main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    position: relative;
    opacity: 1 !important;
    visibility: visible !important;
    width: 90%;
    top: 0 !important;
    left: 15px;
    margin-top: 0;
    border: 1px dashed #5a5a5a;
  }
  .ptb-100 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .pt-100 {
    padding-top: 70px;
  }
  .pb-100 {
    padding-bottom: 70px;
  }
  .pt-70 {
    padding-top: 70px;
  }
  .pb-70 {
    padding-bottom: 40px;
  }
  p {
    font-size: 14px;
  }
  h3 {
    font-size: 18px;
  }
  .go-top.active {
    left: 85%;
  }
  .section-title {
    margin-bottom: 30px;
  }
  .section-title span {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .section-title h2 {
    font-size: 35px;
    margin-bottom: 15px;
  }
  .default-btn {
    font-size: 15px;
    padding: 14px 15px;
  }
  .default-btn.active {
    margin-left: 15px;
  }
  .fixed-top {
    position: unset;
  }
  .header-area .top-header-area {
    background-color: #ffffff;
    text-align: center;
  }
  .header-area .top-header-area .header-content-right {
    float: unset;
  }
  .header-area .top-header-area .header-content-right li {
    margin-bottom: 8px;
    display: inline-block;
    padding-right: 10px;
  }
  .header-area .top-header-area .header-content-right li:last-child {
    margin-bottom: 0;
  }
  .header-area .top-header-area .header-content-left p {
    font-size: 13px;
  }
  .nav-area .others-option {
    display: block;
    position: absolute;
    right: 65px;
    top: 23px;
  }
  .nav-area .others-option .sidebar-menu i {
    font-size: 28px;
    top: -1px;
  }
  .nav-area .others-option .subscribe .default-btn {
    padding: 6px 10px;
  }
  .nav-area .others-option .option-item {
    top: -10px;
  }
  .nav-area .others-option .option-item .search-btn {
    font-size: 15px;
    width: 29px;
    height: 29px;
    line-height: 29px;
  }
  .nav-area .others-option .option-item .close-btn {
    font-size: 15px;
    width: 29px;
    height: 29px;
    line-height: 29px;
  }
  .main-banner-area {
    padding-top: 90px;
    padding-bottom: 70px;
    text-align: center;
  }
  .main-banner-area .container-fluid {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-banner-area .container-fluid .pr-0 {
    padding-right: 15px !important;
  }
  .main-banner-area .banner-text {
    margin: auto;
  }
  .main-banner-area .banner-text span {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  .main-banner-area .banner-text h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .main-banner-area .banner-text p {
    font-size: 15px;
    margin-bottom: 30px;
  }
  .main-banner-area .banner-img {
    margin-top: 30px;
  }
  .about-area .about-content span {
    font-weight: 500;
    margin-bottom: 10px;
  }
  .about-area .about-content h2 {
    font-size: 35px;
  }
  .about-area .about-content .about-list {
    margin-top: 25px;
  }
  .about-area .about-content .about-list ul li {
    font-size: 14px;
  }
  .about-area .about-content .about-list ul li i {
    font-size: 20px;
    top: -3px;
  }
  .about-area .about-img {
    margin-top: 30px;
    text-align: center;
  }
  .our-vision-area .vision-content span {
    font-weight: 500;
    margin-bottom: 10px;
  }
  .our-vision-area .vision-content h2 {
    font-size: 35px;
  }
  .our-vision-area .vision-content .vision-list ul li {
    font-size: 14px;
  }
  .our-vision-area .vision-content .vision-list ul li i {
    font-size: 20px;
    top: 3px;
  }
  .our-vision-area .about-img {
    margin-bottom: 30px;
    text-align: center;
  }
  .single-services {
    padding: 20px;
  }
  .single-services i {
    position: unset;
    margin-bottom: 20px;
    display: inline-block;
  }
  .get-quat-img {
    margin-bottom: 30px;
    text-align: center;
  }
  .get-quat-area .quat-form {
    padding: 50px 40px;
  }
  .get-quat-area .quat-form .tabs li a {
    padding-right: 15px;
    font-size: 18px;
  }
  .single-counter {
    border-right: none;
  }
  .single-counter h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .single-counter p {
    font-size: 15px;
  }
  .achievement-area {
    padding-bottom: 50px;
  }
  .achievement-area .achievement-content span {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .achievement-area .achievement-content h2 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .achievement-area .achievement-content .default-btn {
    margin-top: 15px;
  }
  .achievement-area .video-img {
    margin-bottom: 30px;
  }
  .achievement-area .video-img::before {
    display: none;
  }
  .achievement-area .video-img img {
    width: 100%;
  }
  .agent-now-area .call-now {
    padding: 20px;
    padding-left: 70px;
    margin-bottom: 30px;
  }
  .agent-now-area .call-now p {
    font-size: 16px;
  }
  .agent-now-area .call-now span {
    font-size: 20px;
  }
  .agent-now-area .call-now i {
    font-size: 25px;
    top: 20px;
    left: 20px;
  }
  .agent-now-area .subscribe-wrap {
    padding: 20px;
  }
  .agent-now-area .subscribe-wrap p {
    font-size: 16px;
  }
  .agent-now-area .subscribe-wrap .newsletter-form .default-btn {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 20px;
  }
  .agent-now-area .agent-shape {
    display: none;
  }
  .business-contact-area .row {
    margin-left: 0;
    margin-right: 0;
  }
  .business-contact-area .business-content {
    padding: 20px;
  }
  .business-contact-area .business-content h3 {
    font-size: 18px;
    line-height: 1.4;
  }
  .business-contact-area .business-content p {
    margin-left: 20px;
    bottom: 22px;
    left: 40%;
  }
  .main-banner-area-two {
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
  }
  .main-banner-area-two .container-fluid {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-banner-area-two .container-fluid .pr-0 {
    padding-right: 15px !important;
  }
  .main-banner-area-two .banner-text {
    text-align: center;
    padding: 0;
  }
  .main-banner-area-two .banner-text span {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  .main-banner-area-two .banner-text h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .main-banner-area-two .banner-text p {
    font-size: 15px;
    margin-bottom: 30px;
  }
  .main-banner-area-two .banner-img {
    margin-top: 30px;
    height: 500px;
    border-radius: 0;
  }

.slide-1-button ,.slide-2-button, .slide-3-button{

  position: absolute;
  top: 87%;
  left: 43%;
  background-color: #F0702F;
  color: white;}



  .about-area .about-img-3 {
    margin-top: 20px;
    float: unset;
  }
  .about-area .about-img-3 img {
    width: 100%;
  }
  .about-area .about-img-3 .about-img-2 {
    position: absolute;
    top: unset;
    left: 0;
    bottom: 0;
  }
  .about-area .about-content .about-list .about-single-list {
    padding-left: 40px;
  }
  .about-area .about-content .about-list .about-single-list span {
    font-size: 14px;
  }
  .about-area .about-content .about-list .about-single-list i {
    font-size: 30px;
  }
  .about-single-list.list-2 {
    margin-bottom: 30px;
  }
  .testimonial-wrap-two .single-client {
    padding: 20px;
    padding-left: 20px;
    text-align: center;
  }
  .testimonial-wrap-two .single-client .client-text {
    position: unset;
  }
  .testimonial-wrap-two .single-client p {
    margin-bottom: 18px;
  }
  .any-contact-area .contact-text {
    padding: 0;
    margin-top: 10px;
    text-align: center;
  }
  .any-contact-area .contact-call {
    padding: 0;
    margin-top: 20px;
    text-align: center;
  }
  .choose-us-area-two .single-choose span {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 30px;
  }
  .single-choose {
    padding: 20px;
  }
  .service-area-two .single-service .service-content {
    padding-top: 40px;
  }
  .service-area-two .single-service .service-content .icon-style {
    font-size: 25px;
    line-height: 50px;
    width: 50px;
    height: 50px;
  }
  .hero-slider-area .slider-item {
    height: 100%;
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .hero-slider-area .slider-item .slider-text {
    margin-top: 0;
  }
  .hero-slider-area .slider-item .slider-text h1 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .hero-slider-area .slider-item .slider-text p {
    font-size: 15px;
    margin-bottom: 27px;
  }
  .hero-slider-area .owl-theme .owl-dots {
    bottom: 15px;
  }
  .choose-us-area-three .single-choose span {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 35px;
  }
  .get-quat-content {
    margin-bottom: 30px;
  }
  .work-area .container-fluid {
    margin-left: 0;
    margin-right: 15px;
    max-width: 720px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin: auto;
  }
  .faq-area .faq-accordion {
    padding: 20px;
  }
  .faq-area .faq-accordion h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .contact-area .contact-wrap {
    padding: 20px;
  }
  .contact-area .section-title h2 {
    font-size: 25px;
  }
  .page-navigation-area {
    margin-top: 0;
  }
    .contact-form-action {
    padding: 20px;
  }
    .contact-form-action .form-heading .form-title {
    font-size: 25px;
  }
    .contact-form-action .form-heading .form-desc {
    font-size: 15px;
  }
  .contact-area {
    margin-top: 0;
    padding-top: 70px;
  }
  .contact-area .quick-contact {
    margin-top: 70px;
  }
  .map-area #map {
    height: 300px;
  }
  .page-title-area {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .page-title-area .page-title-content h2 {
    font-size: 30px;
  }
  .page-title-area .page-title-content ul li {
    font-size: 14px;
  }
  .section-title {
    margin: 0px auto 30px;
  }
  .contact-info-area .contact-info-wrap {
    padding: 30px;
  }
  .contact-info-area .contact-info-wrap h2 {
    margin-bottom: 30px;
  }
  .service-details-area .faq-area {
    padding-top: 0;
    padding-bottom: 0;
  }
  .service-details-area .service-details-wrap .ask-question {
    margin-top: 30px;
  }
  .blog-details-area .widget-area .widget:first-child {
    margin-top: 35px;
  }
  .go-top.active {
    top: 93%;
  }
  .blog-details-area .widget-area .widget:first-child {
    margin-top: 35px;
  }
  .service-details-wrap h2 {
    font-size: 25px;
  }
  .single-blog .blog-content {
    padding: 20px;
    max-width: unset;
    margin: 0 auto 0;
  }
  .single-blog-area {
    margin-top: 35px;
  }
  .header-area .top-header-area .header-content-right li .option-item .search-overlay.search-popup {
    z-index: 9999;
    margin-top: 25px;
  }
  .sidebar-modal .modal.right .modal-dialog {
    width: 300px;
  }
  .navbar-area {
    border-top: 1px solid #eee;
  }
  .navbar-area .main-nav nav .navbar-nav .nav-item {
    position: relative;
    padding: 5px 0;
  }
  .choose-us-area.mt-50 {
    margin-top: 40px;
  }
  .navbar-area.nav-style-two .main-nav nav .navbar-nav .nav-item a {
    color: #262566 !important;
  }
  .navbar-area.nav-style-two .main-nav nav .navbar-nav .nav-item .dropdown-menu li a {
    color: #fff !important;
  }
  .navbar-area.nav-style-two .main-nav nav .navbar-nav .nav-item .dropdown-menu li a.active {
    color: #262566 !important;
  }
  .navbar-area.nav-style-two .main-nav nav .navbar-nav .nav-item .dropdown-menu li a:hover {
    color: #262566 !important;
  }
  .navbar-area.nav-style-two.is-sticky .main-nav nav .navbar-nav .nav-item a {
    color: #ffffff !important;
  }
  .testimonial-wrap-two.owl-theme .owl-nav .owl-prev, .testimonial-wrap-two.owl-theme .owl-nav .owl-next {
    top: 1px;
  }
  .any-contact-area .contact-text h3 {
    line-height: 1.4;
  }
  .navbar-three .navbar {
    margin-top: 0 !important;
  }
  .get-quat-area-three .quat-form {
    padding: 30px 30px;
  }
  .get-quat-area-three .quat-form p {
    margin-bottom: 25px;
  }
  .get-quat-area-three .quat-form .tabs li {
    padding-right: 25px;
    font-size: 18px;
  }
  .get-quat-area-three .form-group {
    margin-bottom: 20px;
  }
  .blog-left-sidebar {
    margin-bottom: 30px;
  }
  .blog-right-sidebar {
    margin-top: 30px;
  }
  .nev-style-five .navbar-area .others-option {
    top: 3px;
  }
  .nev-style-five .navbar-area .others-option .option-item {
    top: -15px;
  }
  .nev-style-five .navbar-area .others-option .sidebar-menu {
    margin-left: 0;
  }
  .nev-style-five .navbar-area .others-option .sidebar-menu i {
    display: block;
    font-size: 40px;
  }
  .main-banner-area.main-banner-area-five {
    height: auto;
    padding: 60px 0;
  }
  .main-banner-area.main-banner-area-five .banner-shape-right-five {
    max-width: 385px;
    top: 0;
  }
  .main-banner-area.main-banner-area-five .banner-text {
    margin-top: 0;
  }
  .main-banner-area.main-banner-area-five .banner-img-five {
    margin-top: 30px;
  }
  .appointment-here-form h2 {
    font-size: 30px;
  }
  .about-area-five .about-content {
    margin-bottom: 30px;
  }
  .single-find-an-agent {
    border: 1px solid #eeeeee !important;
    padding: 30px 10px;
  }
  .find-an-agent-content {
    margin-bottom: 30px;
  }
  .nev-style-six .navbar-area .others-option {
    top: 11px;
  }
  .hero-slider-area-six .slider-item {
    padding: 80px 0;
    height: auto;
  }
  .get-quat-list-tab ul {
    margin-bottom: 30px;
  }
  .get-quat-list-tab li {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .about-content-six {
    margin-bottom: 30px;
  }



   


  .popup-close-icon{
    top: -5px;
    left: 85%;
  }


}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .service-sidebar-area {
    padding-right: 0;
  }
  .blog-left-sidebar {
    padding-right: 0;
  }
  .blog-right-sidebar {
    padding-left: 0;
  }
  .header-area .others-option {
    top: 4px;
  }
  .header-area .others-option .sidebar-menu i {
    font-size: 30px;
    top: -2px;
  }
  .header-area .others-option .subscribe .default-btn {
    padding: 8px 10px;
  }
  .header-area .others-option .option-item {
    top: -13px;
  }
  .header-area .others-option .option-item .search-btn {
    font-size: 15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .header-area .others-option .option-item .close-btn {
    font-size: 15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .main-banner-area {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  .main-banner-area .container-fluid {
    max-width: 960px;
    margin-right: auto;
  }
  .main-banner-area .container-fluid .pr-0 {
    padding-right: 15px !important;
  }
  .main-banner-area .banner-text h1 {
    font-size: 45px;
  }
  .section-title h2 {
    font-size: 35px;
  }
  .about-area .about-content h2 {
    font-size: 35px;
  }
  .our-vision-area .vision-content h2 {
    font-size: 35px;
  }
  .main-banner-area-two {
    height: 100%;
  }
  .main-banner-area-two .container-fluid {
    max-width: 960px;
  }
  .main-banner-area-two .banner-text h1 {
    font-size: 45px;
  }
  .choose-us-area-two .single-choose {
    padding: 15px;
  }
  .choose-us-area-two .single-choose span {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 35px;
  }
  .choose-us-area-two .single-choose h3 {
    font-size: 17px;
  }
  .about-area .about-img-3 .about-img-2 {
    top: unset;
    left: 0;
    bottom: 0;
  }
  .business-contact-area .business-content h3 {
    font-size: 25px;
  }
  .business-contact-area .business-content p {
    left: 45%;
  }
  .any-contact-area .contact-text h3 {
    font-size: 18px;
  }
  .header-area-three .nav-area .navbar-area .navbar {
    max-width: 960px;
    margin: 0px auto 0;
    position: relative;
  }
  .header-area-three .nav-area .navbar-area .navbar::after {
    display: none;
  }
  .hero-slider-area .slider-item .slider-text h1 {
    font-size: 50px;
  }
  .sidebar-modal .modal.right .modal-dialog {
    width: 350px;
  }
  .about-area .about-content .about-list ul li {
    font-size: 14px;
  }
  .our-vision-area .vision-content .vision-list ul li {
    font-size: 14px;
  }
  .achievement-area .achievement-content h2 {
    margin-bottom: 15px;
  }
  .achievement-area .achievement-content .default-btn {
    margin-top: 15px;
  }
  .service-area-two.pb-35 {
    padding-bottom: 0;
  }
  .header-area-three .navbar-area .navbar {
    margin: 0px auto 0;
  }
  /* Home demo 4,5,6 */
 

  .popup-close-icon{
    top: -5px;
    left: 85%;
  }
}

@media only screen and (max-width: 400px) {
  .navbar-area .others-option .subscribe {
    display: none;
  }

  .popup-close-icon{
    top: -5px;
    left: 85%;
  }
}

@media only screen and (max-width: 991px) {
  .navbar-area .container {
    position: relative;
  }
  .navbar-area .others-option {
    position: absolute;
    top: 7px;
    right: 70px;
}
  .navbar-area .others-option .option-item {
    right: 0;
    top: -17px;
  }
  .navbar-area .others-option .option-item .search-btn {
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 1.9;
  }
  .navbar-area .others-option .subscribe .default-btn {
    font-size: 12px;
    padding: 10px 10px;
  }
  .navbar-area .others-option .sidebar-menu i {
    font-size: 3em;
  }

  .row .col-lg-4{
    width: 33.33333333%;

  }

  .our-service-area .container .row .col-lg-6 .service-img{

    margin-bottom: 6.5rem;

  }
  .container{
    width: 100%;

  }
.contact-area .contact-wrap{
margin-left: 2.2rem;

}
.contact-area .contact-img{
  display: none;
  
}
  .our-vision-area .vision-content .vision-list ul li {
    width: 100%;
    padding-right: 0;
  }
  .about-area .about-content .about-list ul li {
    width: 100%;
    padding-right: 0;
  }

  

  .popup-close-icon{
    top: -5px;
    left: 85%;
  }
}

@media only screen and (min-width: 1024px) {
  .slide-1-button{
    position: absolute;
    top: 67%;
    left: 3%;
    background-color: #F0702F;
    color: white;
  }
  .slide-3-button{
    left: 14%;

  }
  
}

/*# sourceMappingURL=responsive.css.map */

@media (max-width: 768px) {
  /* Adjust the margin for the invoice container */
  .invoice-container {
    left: 0;
    overflow: hidden;
    max-width: fit-content;  }

  }

  .information .td-left{
    /* background-color: #555; */
    width: 100%;

  }
@media (max-width: 400px) {
  .invoice-container {
    /* left: 1.5rem; */
    overflow: hidden;
    max-width: 22rem;  }

  }

  /* *************************** */

  .test{
    display: flex;
    background-color: #F0702F;
    height: 600px;
    width: 700px;
  }